.row
  .col-md-12
    .page-header
      %h1 Message conversations

.row
  .col-md-2
    .tile
      .caption
        = link_to 'New message', new_message_path, class: 'btn btn-header'
  .col-md-10
    - messages_in_conversations.each do |message|
      .tile
        .caption
          %h3
            - if message.sent_messageable.id == current_user.id
              %span= image_tag message.received_messageable.gravatar_url(size: 50)
              %span= message.received_messageable.decorate.name
            - else
              %span= image_tag message.sent_messageable.gravatar_url(size: 50)
              %span= message.sent_messageable.decorate.name
            %span= "(#{message.conversation.count})"
          %span.avatar= image_tag message.sent_messageable.gravatar_url(size: 20)
          %span.author= message.sent_messageable.decorate.name
          %span.date= "sent on #{message.date}:"
          %p= message.body
          %span= link_to 'View conversation', message_path(message), class: 'btn btn-default'
          %span= link_to 'Reply', '#', class: 'btn btn-header'

