.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h2 New message
      .panel-body
        = simple_form_for message, url: messages_path, method: 'POST' do |f|
          .form-inputs
            = f.input :sent_messageable_id, as: :hidden, value: message.sent_messageable_id
            = f.input :sent_messageable_type, as: :hidden, value: message.sent_messageable_type
            = f.input :received_messageable_id, as: :select, collection: current_user.accepted_friends, label: 'Send to'
            = f.input :received_messageable_type, as: :hidden, value: message.received_messageable_type
            = f.input :body, label: 'Message content'
          .form-actions
            = f.button :submit, "Send message", class: "btn btn-header"
