.row
  .col-md-12
    .page-header
      %h1= "Conversation with #{conversationist.name}"

.row
  .col-md-2
    .tile
      .caption
        %p= link_to 'Inbox', messages_path, class: 'btn btn-default'
  .col-md-10
    .panel.panel-default
      .panel-heading
        %h2 Reply
      .panel-body
        = simple_form_for message, url: messages_path, method: 'POST' do |f|
          .form-inputs
            = f.input :received_messageable_id, as: :hidden, input_html: { value: conversationist.id }
            = f.input :body, label: 'Message content'
            = f.input :ancestry, as: :hidden, input_html: { value: conversation.first.id }
          .form-actions
            = f.button :submit, "Send message", class: "btn btn-header"
    - conversation.each do |message|
      .tile
        .caption
          %h3
            %span= image_tag message.sent_messageable.gravatar_url(size: 50)
            %span= message.sent_messageable.decorate.name
          %span.date= message.date
          %p= message.body