%table.table
  %tr
    %th First name
    %td= user.first_name
  %tr
    %th Last name
    %td= user.last_name
  %tr
    %th Sex
    %td= user.sex
  %tr
    %th Birthday
    %td= user.birthday
  %tr
    %th Age
    %td= user.age
  %tr
    %th Country
    %td= user.country
  %tr
    %th School
    %td= user.school
  %tr
    %th City
    %td= user.city