%table.table
  %tr
    %th First name
    %td= user.first_name
  %tr
    %th Last name
    %td= user.last_name
  %tr
    %th Sex
    %td= I18n.t("sexes.#{user.sex}")
  %tr
    %th Birthday
    %td= user.birthday
  %tr
    %th Age
    %td= user.age
  %tr
    %th Country
    %td= I18n.t("countries.#{user.country}")
  %tr
    %th School
    %td= I18n.t("schools.#{user.school}")
  %tr
    %th City
    %td= user.city