.panel.panel-default
  .panel-heading
    %h2 Edit profile
  .panel-body
    = simple_form_for user, url: my_profile_path do |f|
      = f.error_notification
      .form-inputs
        = f.input :first_name
        = f.input :last_name
        = f.input :sex, collection: user.sexes_collection, selected: user.sex
        = f.input :birth, as: :date, start_year: Date.today.year - 22, end_year: Date.today.year - 12
        = f.input :country, collection: user.countries_collection, selected: user.country
        = f.input :school, collection: user.schools_collection, selected: user.school
        = f.input :city
        = f.input :interest_list, as: :check_boxes, collection: user.interests_collection, checked: user.interests, item_wrapper_tag: :span, item_wrapper_class: "col-md-4", label: false
        = f.input :new_interests, as: :string, label: false, placeholder: 'Write other interests'
        = f.input :language_list, as: :check_boxes, collection: user.languages_collection, checked: user.languages, item_wrapper_tag: :span, item_wrapper_class: "col-md-4", label: false
        = f.input :new_languages, as: :string, label: false, placeholder: 'Other known languages'
      .form-actions
        = f.button :submit, "Update", class: 'btn btn-header'