.row
  .col-md-4
    .panel.panel-default
      .panel-heading
        %h2 Search
      .panel-body
        = simple_form_for profile_search, url: profiles_path do |f|
          .form-inputs
            = f.input :friends, label: 'Search through friends', as: :radio_buttons, checked: false, required: false
            = f.input :country, collection: current_user.decorate.countries_collection_values, required: false
            = f.input :school, collection: current_user.decorate.schools_collection_values, required: false
            = f.input :city, required: false
            = f.input :sex, collection: current_user.decorate.sexes_collection_values, required: false
            = f.input :first_name, required: false
            = f.input :last_name, required: false
          .form-actions
            = f.button :submit, "Search", class: 'btn btn-default'
  .col-md-8
    .page-header.profiles
      %h2 Search results
    .row
      - users.each do |user|
        .col-md-6.to_profile
          .tile
            = link_to profile_path(user) do
              .link
                %span= image_tag user.gravatar_url(size: 50)
                %span.name= user.name
            .actions
              - if current_user.has_no_friendship_with?(user)
                = link_to 'Add to friends', send_friend_request_path(friend_id: user.id), class: 'btn btn-default'
              - if current_user.has_send_request_to?(user)
                %span Request sent
              - if current_user.has_request_from?(user)
                = link_to 'Accept as friend', accept_friend_request_path(friend_id: user.id), class: 'btn btn-default'
              - if current_user.is_fully_friends_with?(user)
                %span Already friends