.page-header
  %h1 Account details
.row
  .col-md-6
    .tile.profile
      .caption
        %h2
          Public info
          %span= link_to 'Edit public profile', edit_my_profile_path, class: 'btn btn-default'
          %span= link_to 'Public profile', profile_path(user), class: 'btn btn-header'
        = render 'public_info'
  .col-md-6
    .tile.profile
      .caption
        %h2
          Account info
          %span= link_to 'Edit account', edit_user_registration_path, class: 'btn btn-default'
        = render 'account_info'