.page-header.profile
  %h1
    %span.avatar= image_tag user.gravatar_url(size: 100)
    %span.name= user.name
    - if user == current_user
      %span= link_to 'Account details', my_profile_path, class: 'btn btn-header'
    - else
      - if current_user.has_no_friendship_with?(user)
        %span= link_to 'Send friend request', send_friend_request_path(friend_id: user.id), class: 'btn btn-default'
      - if current_user.has_send_request_to?(user)
        %span.btn.btn-default You have already sent friend request.
      - if current_user.has_request_from?(user)
        %span= link_to 'Accept friend request', accept_friend_request_path(friend_id: user.id), class: 'btn btn-default'

.row
  .col-md-8
    .tile.profile
      .caption
        %h2 Bio
        - if user.bio.present?
          %p= user.bio
        - else
          %p There is no bio written.
    .tile.profile
      .caption
        %h2 Interests
        - if user.interest_list_array.count == 0
          %p There are no interests specified.
        - else
          - user.interest_list_array.each do |interest|
            %span.label.label-default= interest
    .tile.profile
      .caption
        %h2 Known languages
        - if user.language_list_array.count == 0
          %p There are no languages specified.
        - else
          - user.language_list_array.each do |language|
            %span.label.label-default= language
  .col-md-4
    .tile.profile
      .caption
        %h2 Info
        %table.table
          %tr
            %th.col-md-4 First name
            %td.col-md-8= user.first_name
          %tr
            %th.col-md-4 Last name
            %td.col-md-8= user.last_name
          %tr
            %th.col-md-4 Sex
            %td.col-md-8= I18n.t("sexes.#{user.sex}")
          %tr
            %th.col-md-4 Birthday
            %td.col-md-8= user.birthday
          %tr
            %th.col-md-4 Age
            %td.col-md-8= user.age
          %tr
            %th.col-md-4 Country
            %td.col-md-8= I18n.t("countries.#{user.country}")
          %tr
            %th.col-md-4 School
            %td.col-md-8= I18n.t("schools.#{user.school}")
          %tr
            %th.col-md-4 City
            %td.col-md-8= user.city

.row
  .col-md-12
    .page-header
      %h2
        = "Friends (#{user_friends.count})"
        - if current_user == user
          %span= link_to 'Friend requests', notifications_friend_requests_path, class: 'btn btn-header'
    - if user_friends.count == 0
      .tile
        .caption
          You have no friends.
    - else
      .row
        - user_friends.each do |friend|
          .col-md-4.to_profile
            .tile
              = link_to profile_path(friend) do
                .link
                  %span= image_tag friend.gravatar_url(size: 50)
                  %span.name= friend.name