.panel.panel-default
  .panel-heading
    %h2 Edit account
  .panel-body
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = f.error_notification
      .row
        .col-lg-6
          .form-inputs
            %h3 Change your email or password:
            = f.input :email, required: true
            = f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false
            = f.input :password_confirmation, required: false
        .col-lg-6
          .form-inputs
            %h3 Confirm your changes:
            = f.input :current_password, hint: "we need your current password to confirm your changes", required: true
          .form-actions
            = f.button :submit, "Update", class: 'btn btn-header'
          .buttons
            %span= link_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-header'
          .buttons
            %span= link_to "Back", profile_path(current_user), class: 'btn btn-default'