.tile.article
  .caption
    %h2= article.title
    %span.date= article.date
    %span.author= article.author
    %p= truncate_html(article.content, length: length)
    .comments-count
      %span.glyphicon.glyphicon-comment
      %span= article.comments
    %span= link_to 'Read more', article_path(article), class: 'btn btn-default'