.tile.article
  .caption
    %h2= article.title
    %span.date= article.date
    %span.author= article.author
    %p= truncate_html(article.content, length: length)
    %span= link_to 'Read more', articles_path(article), class: 'btn btn-default'