.tile.article
  .caption
    %h1= article.title
    %span.date= article.date
    %span.author= article.author
    %p= article.content

.comments
  .page-header
    %h2
      %span
        %span.glyphicon.glyphicon-comment
        %span= article.comments
      - if user_signed_in?
        %span= link_to 'Add comment', new_comment_path(comment: { commentable_type: object, commentable_id: article }), remote: true, class: 'btn btn-header add-comment'
  #comment-form
  #comments-list
    - comments.each do |comment|
      = render 'comments/comment', comment: comment