.page-header
  %h1 Friend requests

.row
  .col-md-6
    .tile
      .caption
        %h2 Requests waiting for your acceptance
        .row
          - unaccepted_requests_to_current_user.each do |friend|
            .col-md-6.to_profile.to_profile_brown
              = link_to profile_path(friend) do
                .tile
                  %span= image_tag friend.gravatar_url(size: 50)
                  %span= friend.name

  .col-md-6
    .tile
      .caption
        %h2 Requests send by you
        .row
          - unaccepted_requests_from_current_user.each do |friend|
            .col-md-6.to_profile.to_profile_brown
              = link_to profile_path(friend) do
                .tile
                  %span= image_tag friend.gravatar_url(size: 50)
                  %span= friend.name

.row
  .col-md-12
    .tile
      .caption
        %h2 Accepted requests
        .row
          - accepted_friends.each do |friend|
            .col-md-4.to_profile.to_profile_brown
              = link_to profile_path(friend) do
                .tile
                  %span= image_tag friend.gravatar_url(size: 50)
                  %span= friend.name