.page-header.notifications
  %h1 Notifications
	
.row
  .col-md-6
    .tile
      .caption
        %h3 Friend requests waiting for your acceptance:
        .row
          - requests_from.each do |friend|
            .col-md-6.to_profile.to_profile_brown
              = link_to profile_path(friend) do
                .tile
                  %span= image_tag friend.gravatar_url(size: 50)
                  %span= friend.name
    .tile
      .caption
        %h3 Friend requests you have send:
        .row
          - requests_to.each do |friend|
            .col-md-6.to_profile.to_profile_brown
              = link_to profile_path(friend) do
                .tile
                  %span= image_tag friend.gravatar_url(size: 50)
                  %span= friend.name