.tile.news
  .caption
    %h2= new.title
    %span.date= new.date
    %span.author= new.author
    %p= truncate_html(new.content, length: length)
    .comments-count
      %span.glyphicon.glyphicon-comment
      %span= new.comments
    %span= link_to 'Read more', news_path(new), class: 'btn btn-default'