.col-lg-4
  .tile
    .caption
      %h2.header= new.title
      %span.date= new.date
      %span.author= new.author
      %p= truncate_html(new.content, length: 320)
      %span= link_to 'Read more', news_path(new), class: 'btn btn-default'