.tile.news
  .caption
    %h1= new.title
    %span.date= new.date
    %span.author= new.author
    %p= new.content

.comments
  .page-header
    %h2
      %span
        %span.glyphicon.glyphicon-comment
        %span= new.comments
      - if user_signed_in?
        %span= link_to 'Add comment', new_comment_path(comment: { commentable_type: object, commentable_id: new }), remote: true, class: 'btn btn-header add-comment'
  #comment-form
  #comments-list
    - if comments.count == 0
      .tile
        .caption
          There are no comments to show.
    - else
      - comments.each do |comment|
        = render 'comments/comment', comment: comment