.tile.news
  .caption
    %h1= new.title
    %span.date= new.date
    %span.author= new.author
    %p= new.content

.comments
  .page-header
    %h2
      %span Comments
      %span.btn.btn-header.add-comment Add comment
  = render 'comments/form', comment: new_comment
  - comments.each do |comment|
    - unless comment.created_at.nil?
      = render 'comments/comment', comment: comment