.tile.news
  .caption
    %h1= new.title
    %span.date= new.date
    %span.author= new.author
    %p= new.content

.comments
  .page-header
    %h3 Comments
  = render 'comments/form', comment: new_comment
  - comments.each do |comment|
    = render 'comments/comment', comment: comment