%h1 Newest news
- news.each do |n|
  .news
    %h2= n.title
    %span= n.date
    %span= n.author
    %p= n.content
%h1 Newest article
- articles.each do |a|
  .article
    %h2= a.title
    %span= a.date
    %span= a.author
    %p= a.content
