%ul.nav.navbar-nav.navbar-left
  - if current_page? root_path
    %li= link_to 'Home page', root_path, class: 'active'
  - else
    %li= link_to 'Home page', root_path

  - if current_page? news_index_path
    %li= link_to 'News', news_index_path, class: 'active'
  - else
    %li= link_to 'News', news_index_path

  - if current_page? articles_path
    %li= link_to 'Articles', articles_path, class: 'active'
  - else
    %li= link_to 'Articles', articles_path

  - if current_page? about_path
    %li= link_to 'About project', about_path, class: 'active'
  - else
    %li= link_to 'About project', about_path

  - if user_signed_in?
    %li.dropdown
      - if current_page?(profiles_path) || ( params[:controller] == 'profiles' && params[:action] == 'show' )
        %a.active.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          Community
          %span.caret
      - else
        %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          Community
          %span.caret
      %ul.dropdown-menu{:role => "menu"}
        - if current_page? profiles_path
          %li= link_to 'Search for friends', profiles_path, class: 'active'
        - else
          %li= link_to 'Search for friends', profiles_path
        %li.divider
        - if current_page? my_profile_friends_path
          %li= link_to 'My friends', my_profile_friends_path, class: 'active'
        - else
          %li= link_to 'My friends', my_profile_friends_path
        - if current_page? profile_path(current_user)
          %li= link_to 'My public profile', profile_path(current_user), class: 'active'
        - else
          %li= link_to 'My public profile', profile_path(current_user)