%nav.navbar.navbar-default.navbar-static-top{ role: "navigation" }
	.container-fluid
		.navbar-header
			= link_to root_path do
				%img.navbar-brand{ src: 'https://dl.dropboxusercontent.com/u/52870658/reindeer_colour.png', class: 'logo' }
				.navbar-brand Reindeer
		#navbar.navbar-collapse.collapse
			%ul.nav.navbar-nav.navbar-left
				%li= link_to 'Home page', root_path
				%li= link_to 'News', news_index_path
				%li= link_to 'Articles', articles_path
				%li= link_to 'About project', about_path
				- if user_signed_in?
					%li.dropdown
						%a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
							Profiles
							%span.caret
						%ul.dropdown-menu{:role => "menu"}
							%li= link_to 'Search profiles', profiles_path
							%li= link_to 'My profile', profile_path(current_user)
			%ul.nav.navbar-nav.navbar-right
				- if user_signed_in?
					%li.dropdown
						%a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
							.gravatar
								= image_tag current_user.gravatar_url
								%span.caret
						%ul.dropdown-menu{:role => "menu"}
							//%li= link_to 'Notifications', '#' // what should go here?
							//%li= link_to 'Messages', '#'
							//%li.divider
							%li= link_to 'Friend requests', notifications_friend_requests_path
							%li= link_to 'My public profile', profile_path(current_user)
							%li= link_to 'Account details', my_profile_path
							%li.divider
							%li= link_to 'Log out', destroy_user_session_path, :method=>'delete'
				- elsif admin_signed_in?
					%li= link_to 'Admin panel', admin_panel_root_path
					%li= link_to 'Logout', destroy_admin_session_path, :method=>'delete'
				- else
					%li= link_to 'Log in', new_user_session_path
					%li= link_to 'Sign up', new_user_registration_path