.menu_box
	.user_menu
		%ul
			- if user_signed_in?
				%li= link_to 'Profile', users_profile_path(current_user)
				%li= link_to 'Log out', destroy_user_session_path, :method=>'delete'
			- else
				%li= link_to 'Log in', new_user_session_path
				%li= link_to 'Sign in', new_user_registration_path
	.menu
		.title
			%img(src='https://dl.dropboxusercontent.com/u/63954981/Logo.png')
		%ul
			%li= link_to 'Home page', root_path
			%li= link_to 'News', news_index_path
			%li= link_to 'Articles', articles_path
			%li= link_to 'About project', about_path