!!!
%html
  %head
    .logo
      %title='Poland - Norway Communication Services'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/menu'
    .container-fluid
      .row
        .col-md-1
        .col-md-10
          .row
            = render 'layouts/messages'
          .row
            = yield
        .col-mid-1
    = render 'layouts/footer'
